/* styling for advice page */

/* styling for advice page */

.advice-list{
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    box-shadow :0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.advice-list li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.advice-list li:last-child{
    border-bottom: none;
}

.advice-list a{
    margin-left: 10px;
}

.img-desktop{
    object-fit: cover;
    margin: 5px;
}

.borderer{
    border-top: 2px solid #ddd;
    padding: 15px;
    margin: 15px;
}