/* styling for homepage */

/* James's HERO styling code here*/








/* search box and results styling homepage */

/*fills in void space until search results are displayed */
/* NEED TO calc inside media queries */
.results{
    min-height: calc(100dvh - (60px + 675px));
    margin-bottom: 15px;
}

.card-body{
    min-height: 191px;
}

/* modal code provided by w3schools */
.recipe-modal{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.create-recipe-modal{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

.animate-zoom{
    animation: animatezoom 0.6s;
}

@keyframes animatezoom{
    from{transform:scale(0)} to{transform:scale(1)}
}

.recipe-card{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.modal-container{
    padding:0.01em 16px;
}

.modal-container:after, .modal-container:before{
    content: "";
    display: table;
    clear: both;
}

.modal-color, .modal-color:hover{
    color: #fff!important;
    background-color: #009688!important;
}

.recipe-modal-btn{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.recipe-modal-btn:first-child{
    background-color: #ccc;
    color:#000;
}

.recipe-modal-btn:hover{
    color: #000!important;
    background-color: #ccc!important;
}

.modal-container .topright{
    position: absolute;
    right: 0;
    top: 0;
}

.row {
    margin-top: 10px;
}


/* CHRISTIAN'S STYLE SUPER SECRET INFO */
.d-block {
    object-fit: cover;
  }